%h3= "销售员#{@sale.full_name}提成明细"
%hr
%div
  = link_to '导出',request.url+'?export=1',target:'_blank'
%div
  %table.border-table
    %tr
      %th 销售员
      %th 分单员
      %th 客户姓名
      %th 项目名称
      %th 认购日期
      %th 签约日期
      %th 实际提成
      %th 提点
      %th 套数
      %th 个人提成
      %th 实发
      %th 留存
      %th 工资
    - @details.each do |detail|
      %tr
        %td= detail[:name]
        %td= detail[:other_name]
        %td= detail[:customer_name]
        %td= detail[:project_name]
        %td= detail[:sub_date].try(:strftime,'%Y-%m-%d')
        %td= detail[:order_date].try(:strftime,'%Y-%m-%d')
        %td= detail[:daiti_money].to_f.round(4)
        %td= detail[:rate].to_f.round(4)
        %td= detail[:tao].to_f.round(4)
        %td= detail[:ti_money].to_f.round(4)
        %td= detail[:real_money].to_f.round(4)
        %td= detail[:left_money].to_f.round(4)
        %td= detail[:real_money].to_f.round(4)
  = will_paginate @details unless @details.blank?