%h3 套数明细
%hr
%div
  = link_to '导出',request.url+'?export=1',target:'_blank'
%div
  %table.border-table
    %tr
      %th 销售员
      %th 分单员
      %th 客户姓名
      %th 项目名称
      %th 认购日期
      %th 签约日期
      %th 结佣标准
      %th 优惠
      %th 优惠已扣
      %th 优惠未扣
      %th 分单比例
      %th 套数
    - @details.each do |detail|
      %tr
        %td= detail[:name]
        %td= detail[:other_sales]
        %td= detail[:customer_name]
        %td= detail[:project_name]
        %td= detail[:sub_date]
        %td= detail[:order_date]
        %td= detail[:commision_price]
        %td= detail[:reduce_price]
        %td= detail[:reduced_price]
        %td= detail[:no_reduced_price]
        %td= detail[:rate].to_s+'%'
        %td= detail[:tao].round(4)
  = will_paginate @details unless @details.blank?